@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
/*Global Settings*/
:root {
  --default-text-color: #424242;
	--accent-text-color: #8e9b90;
  --accent-color: #93c0a4;
	--header-text: #FFFFFF;
}

body{
	font-family: 'Raleway', serif;
}
h1, h2, h3, h4, h5, h6{
	color: var(--default-text-color);

	margin-bottom: 35px;
	margin-top: 0;
}
h1{
	font-size: 45px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 21px;
}
p{
	font-size: 16px;
	/*font-style: italic;*/
	color: #818181;
}
/*a{
	transition: all 0.3s ease-in-out;
}*/
section{
	text-align: center;
}
.blockquote p{
	font-size: 32px;
	line-height: 45px;
	padding-left: 30px;
	border-left: 3px solid var(--default-text-color);
	color: var(--default-text-color);
}

.title{
	position: relative;
	margin-bottom: 100px;
}
.title:after{
	content: '';
	height: 5px;
	width: 40px;
	background-color: var(--accent-text-color);
	position: absolute;
	top: 81px;
	left: calc(50% - 20px);
}

.emoji{
	font-style: normal;
}



/*Bootstrap*/
.navbar-vira{
	background-image: none;
	background-color: transparent;
	margin-bottom: 0;
	border-radius: 0;
	border-color: transparent;
	transition: all 0.3s ease-in-out;
	z-index: 1;
	width: 100%;
	margin: auto;
}

/* Nav */
.r_spacer { margin-right: 140px; }
.clearfix {
	 *zoom: 1;
	 margin-left: auto;
	 margin-right: auto;
	 display: block;
	 z-index: 1;
	 -webkit-padding-start: 0;
 }
.logo-holder {
  background: url(../images/goodvibes-logo-small.png) no-repeat center center;
  width: 94px; height: 85px;
  position: absolute; top: 0;
  margin-left: auto;
	margin-right: auto;
}
header ul {
  margin-top: -50px;
  font-size: 20px;
}
header ul li {
	list-style: none;
	float: left;
	letter-spacing: 2px;
}
header ul li.float-right {
	float:right;
}
header ul li a {
	display: block;
	margin: 0 30px;
	font-size: 12pt;
}
nav ul, nav ol { list-style: none; list-style-image: none; }

.form-control option{
	color: var(--default-text-color);
}
.form-control{
	border-radius: 0;
	padding: 25px;
    font-size: 18px;
    font-style: italic;
    background-color: transparent;
    color: var(--default-text-color);
    margin-bottom: 30px;
	border-color: #2CB8F9;
}
.form-control:focus{
	border-color: #2CB8F9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(81, 194, 185, 0.6);
}
.form-control::-webkit-input-placeholder {
    color: #fff;
}
.form-control:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.form-control::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}
.form-control:-ms-input-placeholder {
    color: #fff;
}

.element .form-control::-webkit-input-placeholder {
    color: var(--default-text-color);
}
.element .form-control:-moz-placeholder { /* Firefox 18- */
    color: var(--default-text-color);
}
.element .form-control::-moz-placeholder {  /* Firefox 19+ */
    color: var(--default-text-color);
}
.element .form-control:-ms-input-placeholder {
    color: var(--default-text-color);
}




/*Helper class*/
.mt80{
	margin-top: 80px;
}
.mb80{
	margin-bottom: 80px;
}
.mr60{
	margin-right: 60px;
}
.bg-img{
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-image: url(../images/goodvibes.jpg);
	height: 100vh;
	position: relative;
	min-height: 659px;
}
.bg-img div{
	z-index: 1;
	position: relative;
}
.bg-img:after{
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	left: 0;
	top: 0;
}
.section{
	padding: 50px 0;
}

.anchor {
	display: block;
  height: 659px; /*same height as header*/
  margin-top: -659px; /*same height as header*/
  visibility: hidden;
}

/*Vira Card*/
.vira-card{
	text-align: center;
	/*margin-bottom: 45px;*/
}
.vira-card .vira-card-header{
	margin-bottom: 45px;
}
.vira-card .vira-card-content h3{
	position: relative;
	margin-bottom: 60px
}
.vira-card .vira-card-content h3:after{
	content: '';
	height: 1px;
	width: 44px;
	background-color: var(--accent-text-color);
	position: absolute;
	top: 52px;
	left: calc(50% - 22px);
}
.vira-card .vira-card-content p{
	font-size: 15px;
	text-align: justify;
}
.vira-card .vira-card-content .social-icons{
	margin-top: 30px;
}

/*Button*/
.vira-btn{
	border-color: #2CB8F9;
	font-style: italic;
	color: #2CB8F9;
	border-radius: 0;
	letter-spacing: 3px;
	padding: 15px 80px;
	margin-bottom: 30px;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
}
.vira-btn:hover{
	background-color: #2CB8F9;
	color: #fff;
}
.solid{
	background-color: #2CB8F9;
	color: #fff;
}
.solid:hover{
	background-color: #fff;
	color: #2CB8F9;
}
.small-btn{
	padding: 10px 130px;
}



/*Element page*/
.element .navigation-bar{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.element .navigation-bar a{
	color: var(--default-text-color);
}
.element .dark-bar{
	background-color: #fff;
}
.element .menu:after{
	color: var(--default-text-color);
}
.element .title:after{
	left: 0;
	top: 60px;
}
.headings p{
	margin-bottom: 80px;
}
.social-icons ul{
	text-align: center;
	padding-left: 0;
	display: inline-block;
}
.social-icons ul a li{
	display: inline-block;
	list-style-type: none;
    border: 2px solid var(--default-text-color);
    margin-right: 10px;
    background-color: var(--default-text-color);
    color: #fff;
	font-size: 18px;
    line-height: 32px;
    width: 36px;
}
.social-icons ul a li:last-child{
	margin-right: 0;
}
.social-icons ul a:hover li{
	color: var(--default-text-color);
	background-color: #fff;
}



/*Navigation*/
.dark-bar{
	background-color: var(--default-text-color);
	background-image: none;
	z-index: 2;
}
.menu{
	position: relative;
	display: inline-block;
}

.menu:after{
	position: absolute;
	left: -65px;
	top: 10px;
	color: #fff;
	font-size: 16px;
}


/*Home page*/

.intro-box{
	height: 100vh;
	display: table;
	text-align: center;
	width: 100%;
	/*border-bottom: 3px solid rgba(255, 255, 255, 0.5);*/
}
.intro{
	display: table-cell;
	vertical-align: middle;
	/*border-top: 3px solid rgba(255, 255, 255, 0.5);
	border-bottom: 3px solid rgba(255, 255, 255, 0.5);*/
}
.header h1{
	margin: 0;
	font-size: 50px;
	font-weight: 600;
}
.header h1, .header h2, .header p, .header a{
	color: var(--header-text);
	text-decoration: none;
	letter-spacing: 2px;
	font-family: 'Raleway', serif;
	z-index: 20;
}
.header p{
	font-size: 25px;
	font-weight: 200;
	font-style: oblique;
	padding-top: 0;
	padding-bottom: 40px;
}
.header .vira-btn{
	border-color: #fff;
	color: #fff;
}
.header .vira-btn:hover{
	background-color: #fff;
	color: var(--default-text-color);
}

.about{
	background-color: #f8f8f8;
}
.about p{
	text-align: justify;
}
.about img{
	margin: 30px auto;
	display: block;
}
.about span{
	font-family: 'Raleway';
	font-weight: 600;
}

.team{
	background-color: #f8f8f8;
}
.team p{
	line-height: 200%;
}
/*.team .bg-img{
	background-image: url(../images/2.jpg);
	background-position-x: 85%;
	height: 100%;
}*/
/*.team .bg-img:after{
	display: none;
}*/
.team .section{
	padding-left: 30px;
	padding-right: 30px;
}

.team-photo img {
	height: 355px;
}


.vira-quote{
	background-image: url(../images/3.jpg);
	/*padding: 120px 0;*/
	color: #fff;
	font-style: italic;
}
.vira-quote p{
	font-size: 32px;
	color: #fff;
}
.vira-quote .quote{
	margin-bottom: 40px;
}
.vira-quote .author{
	font-size: 21px;
	margin-bottom: 40px;
}
.watch{
	background-image: url(../images/7.jpg);
	font-style: italic;
	font-size: 32px;
	color: #fff;
	padding: 150px 0;
}
.watch a{
	border: 2px solid #fff;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 70px;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	padding: 0;
	font-size: 21px;
	color: #fff;
}
.watch a:hover, .watch a:active, .watch a:focus{
	background-color: #fff;
	color: var(--default-text-color);
}

.subscribe{
	background-image: url(../images/redwoods-small.jpg);
	min-height: 50px;
	height: 140px;
}
.subscribe .vira-btn{
	margin-bottom: 0;
	color: var(--default-text-color);
	font-weight: 700;
	border-color: #fff;
	background-color: #fff;
}
.subscribe .vira-btn:hover{
	background-color: transparent;
	color: #fff;
}
.subscribe p{
	color: #fff;
	font-size: 32px;
	margin-bottom: 35px;
	font-style: normal;
}
.subscribe .email-help {
	color: #fff;
}
.subscribe .form-control{
    width: 320px;
    margin-bottom: 0;
    border-color: #fff;
    color: #fff;
}

.contact .vira-card{
	background-color: #f8f8f8;
	padding: 35px 0;
	transition: all 0.3s ease-in-out;
	margin-bottom: 45px;
}
/*.contact .vira-card:hover{
	box-shadow: 0px 4px 2px rgba(17, 17, 17, 0.3);
}*/
.contact .vira-card .vira-card-header{
	margin-bottom: 15px;
	font-size: 21px;
	color: #2CB8F9;
}
.contact .vira-card .vira-card-content h3{
	letter-spacing: 2px;
	margin-bottom: 45px;
}
.contact .vira-card .vira-card-content h3:after{
	top: 40px;
}
.contact .vira-card .vira-card-content p{
	font-size: 18px;
}
.footer{
	background-color: #202020;
	text-align: center;
	padding: 20px 0;
}
.footer span{
	color: #2CB8F9;
}
.footer p{
	font-size: 14px;
	color: #fff;
	margin-bottom: 0;
}
.footer a{
	color: #fff;
}




/*animations*/
.vira-card .vira-card-header .card-icon:after{
	transition: all 0.3s ease-in-out;
}
.vira-card:hover .vira-card-header .card-icon:after{
	height: 120px;
	width: 120px;
	top: -1px;
	left: -1px;
}
.owl-theme .owl-dots .owl-dot span{
	background-color: #2CB8F9;
	margin: 5px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background-color: #2CB8F9;
	height: 14px;
	width: 14px;
	margin: 3px;
}




@media (max-width: 767px){
	.vira-card{
		margin-bottom: 60px;
	}
}
